{% load static %}
<link rel="stylesheet" href="{% static 'css/myControl.css' %}">

<div class="wrapper">
    <main>
      <div class="toolbar">
        <h1>OCTUBRE 2018</h1>
      </div>
      <div class="calendar">
        <div class="calendar__header">
          <div>Lunes</div>
          <div>Martes</div>
          <div>Miercoles</div>
          <div>Jueves</div>
          <div>Viernes</div>
          <div>Sabado</div>
          <div>Domingo</div>
        </div>
        <div class="calendar__week">

      {% for i in "x"|ljust:"30" %}
            <div class="calendar__day day">
              {{forloop.counter|slugify}}

              {% for incidencia in incidencias %}
               
                {% if incidencia.created_date|date:"d" == forloop.parentloop.counter|slugify %}
                  <div> {{ incidencia.mount }} </div>
                {% endif %}

              {% endfor %}
            </div>
      {% endfor %}


        </div>
      </div>
    </main>
    <sidebar>
      <div class="logo">logo</div>
      <div class="avatar">
        <div class="avatar__img">
          <img src="https://picsum.photos/70" alt="avatar">
        </div>
        <div class="avatar__name">John Smith</div>
      </div>
      <nav class="menu">
        <a class="menu__item" href="/">
          <i class="menu__icon fa fa-home"></i>
          <span class="menu__text">Ingreso y gastos</span>
        </a>
        <a class="menu__item menu__item--active" href="/calendar/10">
          <i class="menu__icon fa fa-envelope"></i>
          <span class="menu__text">Calendario de gastos</span>
        </a>
      </nav>
      <div class="copyright">PorteñosBoys &copy; 2018</div>
    </sidebar>
  </div>