*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #f5f6f7;
} 

.title__three {
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
}

.title__three-2 {
    color: black;
    margin: 2rem 0 1.5rem 1.5rem;
}

.title__three-3 {
    color:  #40c4dc;
    text-transform: uppercase;
}

.mini__title {
    color: #fff;
    font-size: 1.2rem;
}

.title__container {
    display: flex;
    align-items: center;
    background-color: #242424  ;
    width: 100%;
    padding: 1rem;
}


/** Show **/
.show__container {
   width: 100%;
}

.show__internal {
    text-align: center;
    font-size: 1.8rem;   
}

.title, .monto, .desc, .tipo, .mp, .fecha {
    text-transform: uppercase;
    color: red;
}

.title {
    padding-top: 1rem;
}


/** INci**/
.inci {
    background-color: #fff;
    border-radius: 1rem;
}

.inci__title {
    border-bottom: 1px solid grey;
}

.inci__container {
    padding: 1rem;
    width: 100%;
}